@font-face {
    font-family: 'Lato-Bold';
    src: url('../FONTS/Lato-Bold.ttf') format('truetype');
}
#bt1 {
  font-family: "Lato-Bold";
  position: relative;
  padding: 25px 30px;
  margin: 40px 0;
  color: #E2A149;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden; 
  float: left; 
  border-radius: 5px;
  font-weight: 600;
}
#bt1:hover {
  background: #E2A149;
  color: #1C404C;
  box-shadow: 0 0 5px #E2A149, 0 0 25px #E2A149, 0 0 50px #E2A149,
    0 0 200px #E2A149;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  border-radius: 5px;
}
#bt1:nth-child(1) {
  filter: hue-rotate(270deg);
}
#bt1:nth-child(2) {
  filter: hue-rotate(110deg);
}
#bt1 span {
  position: absolute;
  display: block;
}
#bt1 span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
#bt1 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
#bt1 span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

#bt1 span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
